.preloader-target {
    position: relative;
}

.preloader-display {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}

.preloader-display-background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    display: none;
    z-index: 9998;
}